*.gem
.bundle
Gemfile.lock
pkg/*
Makefile
specrunner.moc
specrunner.o
ext/jasmine-webkit-specrunner/jasmine-webkit-specrunner
*.o
moc_*.*
.DS_Store
hydra-runner.log
jhw-test
.jhw-cache/
_site/
jhw.*.html
coverage/
tmp/
