/* Layout ------------------------------------------------------------------*/
/* line 7, ../sass/screen.scss */
body {
  background-color: #554b3e;
  margin: 0;
}
/* line 11, ../sass/screen.scss */
body #container {
  background-color: #b8a287;
  *zoom: 1;
  margin: auto;
  width: 49em;
  max-width: 100%;
}
/* line 22, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 16, ../sass/screen.scss */
body #container #inner-container {
  display: inline;
  float: left;
  width: 95.918%;
  margin-right: 2.041%;
  margin-left: 2.041%;
  color: #493318;
}
/* line 21, ../sass/screen.scss */
body #container #inner-container a {
  color: #171233;
}
/* line 25, ../sass/screen.scss */
body #container #inner-container a:visited {
  color: #2f2d3b;
}
/* line 29, ../sass/screen.scss */
body #container #inner-container img.large {
  display: block;
  margin: 0 auto;
}
/* line 34, ../sass/screen.scss */
body #container #inner-container img[src*="f5.png"] {
  display: inline;
  float: right;
}
/* line 38, ../sass/screen.scss */
body #container #inner-container div, body #container #inner-container p, body #container #inner-container li, body #container #inner-container span {
  font-family: 'Crimson Text', 'Georgia', sans-serif;
}
/* line 42, ../sass/screen.scss */
body #container #inner-container pre, body #container #inner-container code, body #container #inner-container code > span, body #container #inner-container pre > div > span {
  font-family: 'Courier';
}
/* line 46, ../sass/screen.scss */
body #container #inner-container pre {
  padding: 1em;
  background-color: #113422;
  color: #b6868a;
}
/* line 52, ../sass/screen.scss */
body #container #inner-container p > code {
  color: #271100;
}
/* line 56, ../sass/screen.scss */
body #container #inner-container h1, body #container #inner-container h2, body #container #inner-container h3, body #container #inner-container h4 {
  font-family: 'Neuton', 'Helvetica', sans-serif;
}
/* line 60, ../sass/screen.scss */
body #container #inner-container h1 {
  text-align: center;
  font-size: 3.25em;
  margin: 0;
}
/* line 66, ../sass/screen.scss */
body #container #inner-container .gist-highlight {
  font-size: 75%;
}
/* line 71, ../sass/screen.scss */
body #container #inner-container .yaml .l-Scalar-Plain {
  color: #e68917;
}
/* line 75, ../sass/screen.scss */
body #container #inner-container .yaml .p-Indicator {
  color: #78a39d;
}
/* line 81, ../sass/screen.scss */
body #container #inner-container .js .nx, body #container #inner-container .ruby .nx {
  color: #78a39d;
}
/* line 85, ../sass/screen.scss */
body #container #inner-container .js .s1, body #container #inner-container .ruby .s1 {
  color: #e68917;
}
/* line 89, ../sass/screen.scss */
body #container #inner-container .js .nb, body #container #inner-container .ruby .nb {
  color: #abb592;
}
/* line 93, ../sass/screen.scss */
body #container #inner-container .js .kc, body #container #inner-container .js .kp, body #container #inner-container .ruby .kc, body #container #inner-container .ruby .kp {
  color: #a7b585;
}
/* line 97, ../sass/screen.scss */
body #container #inner-container .js .no, body #container #inner-container .ruby .no {
  color: #de1629;
}
/* line 101, ../sass/screen.scss */
body #container #inner-container .js .n, body #container #inner-container .ruby .n {
  color: #cef56b;
}
